// Variables
$mobile: 320px;
$tablet: 768px;
$preTablet1020: 1020px;
$desktop: 1440px;
$activeBgColor: #fdfdfd;
$hoverBgColor: #a5a5a5;
$transitionState: all 0.3s ease-in-out;
$boxShadowState: 0px 0px 2px 0px #868383;
$boxShadowStateHover: 0px 0px 4px 0px rgba(107, 107, 107, 0.6);
$backgroundColorStateHover: rgba(107, 107, 107, 0.6);;

// Debug color
$debugColor: #8c8f94;
