// -----------------------------------------------------------------------------
// This file contains all styles related to the 'checkbox' component.
// -----------------------------------------------------------------------------

.checkbox-styled {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 45px;
    background: rgba(76, 82, 85, 0.4);
    border: 1px solid #cccccc;
    vertical-align: middle;
    border-radius: 5px;
    transition: $transitionState;
    box-shadow: $boxShadowState;
    outline: none;
    &:hover {
        background-color: $backgroundColorStateHover;
        box-shadow: $boxShadowStateHover;
    }
    & > input[type=checkbox] {
        visibility: hidden;
    }
    &:before {
        position: absolute;
        display: inline;
        right: 10px;
        content: '°F';
        color: #fff;
        font: 24px/45px 'Roboto', sans-serif;
        font-weight: bold;
        text-transform: capitalize;
        z-index: 0;
    }
    &:after {
        position: absolute;
        display: inline;
        left: 10px;
        content: '°C';
        color: #fff;
        font: 24px/45px "Roboto", sans-serif;
        font-weight: bold;
        text-transform: capitalize;
        z-index: 0;
    }
    & label {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 42px;
        height: 45px;
        background: rgba(204, 204, 204, 0.5);
        cursor: pointer;
        transition: background-color 0.5s ease-in-out;
        -webkit-transition: background-color 0.5s ease-in-out;
        -moz-transition: background-color 0.5s ease-in-out;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        z-index: 1;
    }

    & input[type=checkbox]:checked + label {
        left: 50px;
    }
}
