// -----------------------------------------------------------------------------
// This file contains all styles related to the input component.
// -----------------------------------------------------------------------------

.input-styled {
    height: 30px;
    margin: 0 5px;
    padding: 0px 10px;
    border: none;
    background: #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}