
/* Common styles */
.body {
    height: 100vh;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: $desktop;
    padding: 0 20px;
    @media screen and (max-width: $mobile) {
        // styles for mobile
        width: 100%;
        margin: 0;
        min-width: $mobile;
    }
}

.active {
    background-color: $active-bg-color;
}

// TODO: Consider to move styles for components to /components folder
/**** COMPONENTS *****/
.button-styled {
    cursor: pointer;
    height: 30px;
    margin: 0 5px;
    border: none;
    background: #0bc0d8;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    color: #ffffff;
    padding: 0 10px;
}

.input-styled {
    height: 30px;
    margin: 0 5px;
    padding: 0px 10px;
    border: none;
    background: #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}

.weather-card {
    display: grid;
    grid-template-rows: auto 1fr;
    // font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    .weather-card-city {        
        font-size: 2.63vw;
        line-height: 3.2vw;
        margin: 0;
    }
    .weather-card-day {
        font-size: 1.1vw;
        line-height: 1.3vw;
        &.format-normal {
            text-transform: initial;
            font-size: 1.25vw;
            line-height: 1.5vw;
        }
    }
    .weather-card-details-block {
        display: grid;
        grid-template-columns: auto 1fr;
        .weather-card-temperature {
            font-weight: 600;
            font-size: 4.3vw;
            line-height: 5vw;
            margin: 0;
            &.big-card-text {
                font-size: 15.5vw;
                line-height: 19vw;
            }
        }
        .weather-card-icon {
            width: 70px;
            &.big-card-icon {
                width: 170px;
            }
        }
        .weather-card-extra-info {
            font-size: 1.15vw;
            line-height: 2vw;
        }
    }
}
/**** END COMPONENTS *****/

.body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.background-image {
    background-color: lightblue;
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
    opacity: 0.8;
}

.header-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 40px 20px;
    .controls-container {
        //
    }
    .search-container {
        justify-self: center;
    }
}

.main-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 30px 30px 10px 30px;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #9292922e;
    color: #ffffff;
    @media screen and (max-width: $tablet) {
        width: 100%;
        margin: 0;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 200px;
        grid-gap: 20px 0;
    }
    .weather-container {
        @media screen and (max-width: $tablet) {
            display: grid;
            grid-template-columns: auto auto;
        }
        // .weather-today {
        //     .city-country-name {
        //         text-transform: uppercase;
        //     }
        // }
        .weather-future {
            display: grid;
            grid-template-columns: 33% 34% 33%;
            @media screen and (max-width: $tablet) {
                grid-template-columns: auto;
            }
        }
    }
    .map-container {
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 100%;
        .map-wrapper {
            width: 100%;
            height: 90%;
            .map {
                width: 100%;
                height: 100%;
            }
        }
        .coordinates-block {
            text-align: right;
            .coordinates-text {
                font-weight: 600;
                font-size: 1.05vw;
                line-height: 1.6vw;
                @media screen and (max-width: $tablet) {
                    br {
                        display: none;
                    }
                }
            }
        }
    }
}
