* {
  font-family: "Roboto", "sans-serif";
}

.content-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 55px;
}

.navigation {
  position: absolute;
}

.main-menu,
.library {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-menu__item.interactive {
  background-image: url("assets/img/mainback.png");
}

a.main-menu__item {
  bottom: -100px;

  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #d1994f;
  text-decoration: none;
  text-shadow: 1px 1px grey(44, 160, 160);
}

a.main-menu__item.main-menu__item.interactive {
  color: #2196f3;
}

.main-menu__item {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 280px;
  margin: 20px;

  background-image: url("assets/img/mainbackgame.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  cursor: pointer;

  transition: 0.3s;
}

.main-menu__item > img {
  width: 43.335%;
  height: 46.434%;
  margin-top: 17%;
  margin-bottom: 18%;
  margin-left: 36%;

  border: 5px solid #d1994f;
  border-radius: 50%;

  object-fit: cover;
}

.main-menu__item.interactive > img {
  border: 5px solid #26b19e;
}

.main-menu__item:hover {
  box-shadow: 0 6px 25px rgba(0,0,0,0.4);
}

.burger-menu {
  top: 11px;
  left: 0;
  z-index: 3;

  user-select: none;
}

.header-menu.interactive {
  background: radial-gradient(circle, rgba(93,164,210,1) 0%, rgba(46,148,190,1) 47%, rgba(72,195,195,1) 98%);
}

.burger-menu,
.burger-menu input {
  position: absolute;

  display: block;
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 330px;
  height: 100%;
  padding-top: 150px;

  list-style-type: none;

  background: radial-gradient(circle, rgb(236, 143, 22) 0%, rgb(204, 172, 85) 47%, rgb(214, 223, 92) 98%);
  transform: translate(-100%);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1);
}

.header {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1350px;
  height: 45px;
}

.burger-menu span,
.burger-menu span::before,
.burger-menu span::after {
  position: absolute;
  top: 10px;
  left: 8px;
  z-index: 1;

  display: block;
  width: 30px;
  height: 4px;

  background-color: rgb(146, 140, 140);
  border-radius: 25%;

  transition: 0.5s;
}

.burger-menu span::before,
.burger-menu span::after {
  content: "";
  left: 0;

  transform-origin: left;

  transition: 0.5s;
}

.burger-menu span::before {
  top: -10.5px;
}

.burger-menu span::after {
  top: 10.5px;
}

.burger-menu_active span::before {
  transform: rotate(45deg);
}

.burger-menu_active span::after {
  transform: rotate(-45deg);
}

.burger-menu_active span {
  height: 0;
}

.burger-menu input {
  z-index: 2;

  width: 40px;
  height: 32px;

  cursor: pointer;
  opacity: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1330px;
  height: 45px;
  margin: 40px auto 0;
}

.header-menu__item {
  min-width: 145px;
  margin-left: 60px;
  padding: 10px 0;

  font-size: 22px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;

  cursor: pointer;
}

.header-menu__item:hover {
  margin-left: 70px;

  text-shadow: 2px 2px rgba(120, 139, 139, 0.95);

  transform: scale(1.1);
}

.header-menu__item.active {
  text-decoration: underline;
}

._active {
  transform: translate(0);
}

.header-menu {
  margin-top: 0;
}

.slider {
  position: absolute;
  right: 0;

  display: inline-block;
  width: 120px;
  height: 40px;
  padding: 3px;

  vertical-align: top;

  background-color: #ffffff;
  background-image: linear-gradient(180deg,#eeeeee,#ffffff 25px);
  border-radius: 5%;
  box-shadow: inset 0 -1px #ffffff, inset 0 1px 1px rgba(0,0,0,0.05);
  cursor: pointer;
}

.slider__input {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
}

.slider__label {
  position: relative;

  display: block;
  height: inherit;

  font-size: 18px;
  line-height: 40px;
  color: white;
  text-transform: uppercase;

  background: radial-gradient(circle, rgba(93,164,210,1) 0%, rgba(46,148,190,1) 47%, rgba(72,195,195,1) 98%);
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.12), inset 0 0 2px rgba(0,0,0,0.15);

  transition: 0.3s ease-out;
}

.slider__label::before {
  content: "train";

  margin-left: 5px;
}

.slider__label::after {
  content: "";
}

.slider__label_play::before {
  content: "";
}

.slider__label_play::after {
  content: "play";

  margin-left: 60px;
}

.slider__handle {
  position: absolute;
  top: 6px;
  left: 84px;

  width: 33px;
  height: 33px;

  background-image: radial-gradient(rgba(255, 255, 255, 0.5) 30%, rgb(255, 255, 255) 10%, #ffffff);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);

  transition: all 0.15s ease-in-out;
}

.slider__label_play {
  background: linear-gradient(40deg,#ffd86f,#fc6262);
}

.slider__handle_active {
  left: 6px;
}

.slider__handle:hover {
  transform: rotate(45deg);
}

.library_progress-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1350px;
  height: 40px;
  margin: 0 auto;
  overflow-x: hidden;

  font-size: 36px;
  line-height: 36px;
  color: #fc6262;
}

.hidden {
  display: none;
}

.scene {
  perspective: 500px;
}

.scene__card {
  position: relative;

  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 300px;
  height: 250px;
  margin: 20px 25px;

  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #cccccc;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
  transform-style: preserve-3d;

  transition: box-shadow 0.25s linear,transform 0.7s;
}

.scene__card_back,
.scene__card_face {
  position: absolute;
  top: 0;
  bottom: 0;

  display: flex;
  width: 100%;

  background-repeat: no-repeat;
  background-size: contain;

  transition: 0.5s all;
}

.look__header {
  width: 100%;
  margin-top: 200px;
  padding: 0 15px;

  font-weight: bold;
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  color: #212529;
  text-shadow: 1px 0 rgba(154, 167, 179, 0.3);

  background: #ffffff;

  pointer-events: none;
}

.scene__card_flip {
  position: absolute;
  right: 5px;
  bottom: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  background-image: url("assets/img/refresh.png");
  background-repeat: no-repeat;
  background-position: center 16px;
  background-size: 32px;

  transition: ease-in-out 1s;
}

.scene__card_flip:hover {
  background-image: url("assets/img/refreshh.png");
  cursor: pointer;

  transition: ease-in-out 0.5s;
}

.scene__card_back,
.scene__card_face,
.scene__card_flip {
  backface-visibility: hidden;
}

.translate {
  transform: rotateY(180deg);
}

.scene__card:hover {
  box-shadow: -1px 5px 15px 0 rgba(0,0,0,0.5);
}

.scene__card_back,
.scene__card_face,
.scene__card_flip {
  backface-visibility: hidden;
}

.scene__card_back {
  transform: rotateY(180deg);
}

.scene__card-cover .scene__card_back,
.scene__card-cover .scene__card_face {
  background-position: 50%;
  background-size: cover;
}

.starter__item {
  box-sizing: border-box;
  width: 100%;
  max-width: 650px;
  height: 65px;
  margin: 20px auto;
  padding: 20px 25px;

  font-size: 24px;
  text-align: center;
  color: #ffffff;

  background: linear-gradient(40deg,#ffd86f,#fc6262);
  border-width: 1px;
  border-radius: 10px;
  outline: 0!important;

  transition: 0.3s;
}

.invisibly {
  box-sizing: border-box;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;

  font-size: 0;

  opacity: 0;
}

.starter {
  width: 100%;

  text-align: center;
}

.repeat {
  width: 65px;

  font-size: 0;

  background-image: url("assets/img/repeat.svg"),linear-gradient(40deg,#ffd86f,#fc6262);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 32px 32px,cover;
  border-radius: 50%;
}

.inactive {
  opacity: 0.5;
}

.star-error,
.star-success {
  flex-shrink: 0;
  width: 40px;
  min-width: 40px;
  height: 40px;

  background-size: 40px 40px;
}

.star-success {
  background-image: url("assets/img/star-win.svg");
}

.star-error {
  background-image: url("assets/img/star.svg");
}

.failure {
  width: 99vw;
  height: 100vh;

  background-image: url("assets/img/failure.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 40% 55%,cover;
}

.success {
  width: 99vw;
  height: 100vh;

  background-image: url("assets/img/success.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 40% 55%,cover;
}

.text {
  justify-content: center;
}

.collapse {
  width: 0;
  height: 0;
}

@media (max-width: 360px) {
  .main-menu__item > img {
    width: 36vw;
    height: 36vw;
    margin-top: 17%;
    margin-bottom: 20vw;
    margin-left: 36%;

    border: 5px solid #d1994f;
    border-radius: 50%;

    object-fit: cover;
  }
}

@media (max-width: 532px) {
  .header-menu {
    width: 200px;
  }

  .header-menu__item {
    margin-left: 3vw;
  }

  .header-menu__item:hover {
    margin-left: 3.5vw;
  }

  .burger-menu {
    top: 50px;
    left: 40px;
    z-index: 3;

    user-select: none;
  }

  .burger-menu,
  .burger-menu input {
    position: fixed;
  }
}
