* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1 {
  position: absolute;
  z-index: 10;
  color: aliceblue;
  margin: 15px 0 0 15px;
}

/* SECTIONS */

.section-container {
  position: relative;
  width: 100%;
  min-height: 100%;
  transition: 0.3s ease;
}

.section-container-blurred > * {
  pointer-events: none;
}

.section-container-blurred::before {
  content: "";
  position: fixed;
  z-index: 5;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s ease;
  pointer-events: none;
}

.section-container-blurred .section {
  height: 100%;
}

.section {
  width: 100%;
  min-height: 100%;
  display: none;
}

.section-visible {
  display: block;
}

.header {
  top: 0px;
  position: sticky;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, #1d0b0d, #615251);
  padding: 20px;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 1em;
  height: 1em;
  border-radius: 4px;
  color: white;
  font-size: 3em;
}

.header-menu:hover {
  cursor: pointer;
}

.header__title {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.header__button {
  position: relative;
  padding-right: 5px;
  padding-left: 5px;
  color: white;
  font-size: 3em;
  margin: 0 auto;
  user-select: none;
}

.header__title_subtitle {
  padding-right: 5px;
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 3em;
  align-self: center;
  margin: 0 auto;
  user-select: none;
}

.header__title_subtitle:hover {
  cursor: pointer;
}

.content-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  margin-bottom: 0px;
}

.search__input {
  height: 75px;
  font-size: 3em;
  max-width: 700px;
  width: 95%;
}

.search__input[type="text"] {
  border: none;
  border-bottom: 3px solid #ef473a;
  transition: 0.1s ease;
}

.search__input[type="text"]:focus {
  outline: none;
}

.search__engine_icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  height: 75px;
  width: 2em;
  color: #ef473a;
  border-bottom: 3px solid #ef473a;
}

.search__engine_icon-container:hover {
  cursor: pointer;
}

.search__engine_icon-visible {
  display: block !important;
}

.history-library {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.history-library__item {
  position: relative;
  transition: 0.5s ease;
  margin-top: -100%;
  opacity: 0;
  max-height: 300px;
  overflow-y: scroll;
}

.history__visible {
  margin-top: 0px;
  opacity: 1;
}

.search-history {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.search-history__icon {
  margin-right: 10px;
  margin-left: 30px;
  font-size: 1em;
}

.search-history__button {
  font-size: 1.3em;
  color: rgb(70, 70, 70);
}

.search-history__button:hover {
  cursor: pointer;
}

.history-library__item {
  font-size: 2em;
  font-weight: 300;
  width: 100%;
  max-width: 400px;
}

.history__item {
  border-bottom: 2px solid #ef473a;
  text-align: center;
}

.history__item:hover {
  color: white;
  background-color: #ef473a;
  cursor: pointer;
}

.content-box__films_result {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-result-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marked-results__my-movies {
  position: relative;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.marked-results__my-movies_tip {
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100%;
  text-align: center;
  font-size: 2em;
}

.marked-results__my-movies_link {
  text-decoration: underline;
  text-decoration-color: #ef473a;
}

.marked-results__my-movies_link:hover {
  cursor: pointer;
}

/* MOVIE ITEM */

.movie-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 10px;
  padding: 5px;
  align-items: center;
  box-sizing: content-box;
  border-radius: 5px;
  transition: 0.1s ease;
}

.movie-item:hover {
  cursor: pointer;
  box-shadow: 0px 10px 5px 3px rgba(0, 0, 0, 0.2);
}

.movie-item-poster {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 5px;
  filter: grayscale(50%);
  transition: 0.1s ease;
  background-color: rgba(0, 0, 0, 0.1);
}

.movie-item:hover .movie-item-poster {
  filter: grayscale(0%);
}

.movie-item-heart {
  color: #ef473a;
  font-size: 2em;
  margin: 5px;
  /* display: none; */
}

.movie-item-heart-visible {
  display: block;
}

.movie-item-title {
  font-size: 1.4em;
  text-align: center;
}

.movie-item-year {
  font-size: 1em;
  text-align: center;
  color: grey;
}

/* MODALS*/

.modal-container {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 5;
}

.movie-modal-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 10px 5px 3px rgba(0, 0, 0, 0.2);
  pointer-events: all;
}

.movie-modal-poster {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 250px;
  height: 400px;
  background-size: cover;
  background-position: 50% 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

.movie-modal-close {
  position: sticky;
  top: 10px;
  color: #ef473a;
  font-size: 2em;
  margin: 10px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.movie-modal-close:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.movie-modal-close:active {
  transform: scale(1);
}

.movie-modal-heart {
  position: sticky;
  top: 10px;
  color: #ef473a;
  font-size: 2em;
  margin: 10px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.movie-modal-heart:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.movie-modal-heart:active {
  transform: scale(1);
}

.movie-modal-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.movie-modal-body {
  padding: 10px;
  max-width: 500px;
}

.movie-modal-title {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2em;
}

.movie-modal-year {
  color: grey;
  font-size: 1.5em;
}

.movie-modal-director {
  font-size: 1.3em;
  font-weight: 300;
  margin-bottom: 5px;
}

.movie-modal-rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.movie-modal-rating-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 300;
  margin-right: 10px;
}

.movie-modal-rating-item-icon {
  height: 16px;
  width: 16px;
  background-size: cover;
  margin-right: 3px;
}

.movie-modal-plot {
  font-size: 1.3em;
  font-weight: 300;
}

.modal-search-result {
  font-size: 2em;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 200;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 10px 5px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.modal-search-result-item {
  margin-right: 10px;
  color: #ef473a;
}

.content-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.content-wrapper::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.content-wrapper::-webkit-scrollbar-thumb {
  background-color: #ef473a;
}
